@font-face {
font-family: 'Fira Code'; font-style: normal; font-weight: 300;
src: url("./FiraCode-Light.woff2") format('woff2'),
	 url("./FiraCode-Light.woff")  format('woff');
}
@font-face {
font-family: 'Fira Code'; font-style: normal; font-weight: 400;
src: url("./FiraCode-Regular.woff2") format('woff2'),
	 url("./FiraCode-Regular.woff")  format('woff');
}
@font-face {
font-family: 'Fira Code'; font-style: normal; font-weight: 500;
src: url("./FiraCode-Medium.woff2") format('woff2'),
	 url("./FiraCode-Medium.woff")  format('woff');
}
@font-face {
font-family: 'Fira Code'; font-style: normal; font-weight: 700;
src: url("./FiraCode-Bold.woff2") format('woff2'),
	 url("./FiraCode-Bold.woff")  format('woff');
}
@font-face {
font-family: 'Fira Code'; font-style: normal; font-weight: 900;
src: url("./FiraCode-Black.woff2") format('woff2'),
	 url("./FiraCode-Black.woff")  format('woff');
}
